---
layout: layouts/beat.njk
title: Science
beatName: Science
beatSlug: science
beatDescription: "Peer-reviewed research, NIH-funded studies, university programs, harm reduction research."
permalink: /science/index.html
description: "Kratom science coverage: peer-reviewed research, NIH studies, university programs."
---
