<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "{{ site.title }}",
  "url": "{{ site.url }}",
  "logo": "{{ site.url }}/assets/logo.svg",
  "publishingPrinciples": "{{ site.url }}/about",
  "parentOrganization": {
    "@type": "Organization",
    "name": "{{ site.publisher.name }}",
    "url": "{{ site.publisher.url }}"
  }
}
</script>